@model PhotoShare.Models.Photo

@{
    // code block
    ViewData["Title"] = "Photo Details";
}

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("/photos/" + Model.ImageFilename)" alt="@Model.Description" class="img-fluid" />
    </div>
</div>


<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => @model.PhotoId)
        </td>
        <td>
            @Html.DisplayFor(model => model.PhotoId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedAt)
        </td>
    </tr>
</table>

<p>
    <i class="fa-solid fa-location-dot"></i>
</p>
